# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.env

# IDEs
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Databases (if any local)
*.sqlite3

# Pytest cache
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Docker-related
db/data/
